.container{
    display: flex;
    justify-content: space-between;
    font-size: 60px;
}

.container div{
    display: flex;
    flex-direction: column;
}

.removedcss {
    font-size: 100px;

}
.MultWeapon {
    font-size: 60px;

}


.img {
    width: 200px;
    height: 200px;

}
#img1 {
    background-image: url(Hammer.gif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 200px;

}
#img2 {
    background-image: url(blob2.gif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 220px;
    height: 220px;

}